<h2> Theme: </h2>
<ul>
    <li> Dark Themes: <text id="dark-theme-list"> </text>. </li>
    <li> Light Themes: <text id="light-theme-list"> </text>. </li>
    <li> Can't choose a theme? Let's <a id="random-theme-button" href="">randomize</a> it! </li>
</ul>

<h2> Settings </h2>
<ul>
    <li> Animated background: <a id="background-image-text" href=""> </a>. </li>
    <li> <a id="lofi-mode" href="#">Lofi Mode</a> (with some music). </li>
</ul>

<script type="module" src="/js/settings.js"> </script>