<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">
            <div class="page-header">
                {{- partial "header.html" . -}}
            </div>

            <div class="page-body">
                {{- block "main" . }}{{- end }}
            </div>

            <div class="page-footer">
                <span> This page is <a href="https://github.com/takai24/takai24.github.io">open-source</a>. Made with ❤️ </span>
            </div>
        </div>
    </body>
</html>