{{ define "main" }}
    <h1> {{ .Title | markdownify }} </h1>

    {{ .Content }}

    <p> Looking for a specific topic? <a href="/tags">Browse all tags</a> </p>

    <div class="page-list-container">
        {{ range .Pages }}
        <div class="page-list">
            <p> <a class="page-list-title" href="{{ .Permalink }}"> {{ .Title | markdownify }} </a> </p>
            <p> {{ .Date.Format "2 January, 2006" }} </p>
            <p> {{ .Description }} </p>
            <div class="page-list-tag-container">
                {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
                    {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
                    $taxonomy $tag) -}}
                    <a class="page-list-tag" href="{{ .Permalink }}">{{ $tag | urlize }}</a>
                    {{- end -}} {{- end -}}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}