{{ define "main" }}
    {{ with .Params.link }}
    <script>window.location.replace("{{ . }}");</script>
    <meta http-equiv="refresh" content="0; url={{ . }}">
    {{ end }}
    <h1> {{ .Title | markdownify }} </h1>
    <p> {{ .Date.Format "2 January 2006" }} </p>
    <p> {{ .Description | markdownify }} </p>
    <div class="page-list-tag-container">
        {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
            {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
            $taxonomy $tag) -}}
            <a class="page-list-tag" href="{{ .Permalink }}">#{{ $tag | urlize }}</a>
            {{- end -}} {{- end -}}
        {{ end }}
    </div>
    <hr>
    {{ .Content }}

    <a href="#" class="page-scroll-top" aria-label="Scroll to top" title="Scroll to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m18 15-6-6-6 6"/>
        </svg>
    </a>
{{ end }}