
:root {
    --base00: #19171C; /* terminal.ansiBlack */
    --base01: #655F6D; /* terminal.ansiBrightBlack */
    --base02: #8B8792; /* terminal.foreground (close to ansiWhite) */
    --base03: #8B8792; /* terminalCursor.foreground */
    --base04: #EFECF4; /* terminal.ansiBrightWhite */
    --base05: #8B8792; /* terminal.foreground */
    --base06: #EFECF4; /* terminal.ansiBrightWhite */
    --base07: #EFECF4; /* terminal.ansiBrightWhite */
    --base08: #BE4678; /* terminal.ansiRed */
    --base09: #A06E3B; /* terminal.ansiYellow */
    --base0A: #A06E3B; /* terminal.ansiBrightYellow */
    --base0B: #2A9292; /* terminal.ansiGreen */
    --base0C: #398BC6; /* terminal.ansiCyan */
    --base0D: #576DDB; /* terminal.ansiBlue */
    --base0E: #955AE7; /* terminal.ansiMagenta */
    --base0F: #BE4678; /* terminal.ansiBrightRed */
}
