.page-footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    z-index: 1;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1;
}

.page-footer a
{
    text-decoration: none;
    display: block;
}

.page-footer svg
{
    width: 14px;
    height: 14px;
    display: block;
}

.page-body + .page-footer
{
    position: relative;
}