.page-footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1;
}

.page-footer a
{
    text-decoration: none;
    display: block;
    color: var(--text);
    transition: opacity 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.page-footer a:hover
{
    color: var(--link-hover);
    transform: scale(1.06);
}

.page-footer svg
{
    width: 14px;
    height: 14px;
    display: block;
}

.page-body + .page-footer
{
    position: relative;
}