@import "colours.css";
@import "header.css";
@import "layout.css";
@import "typography.css";

*
{
    box-sizing: border-box;
}

*::-webkit-scrollbar
{
	background-color: transparent;
	width: 0.75rem;
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	border: 5px solid transparent;
	background-color: var(--text);
	background-clip: content-box;
}