@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body
{
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    font-display: swap;
    line-height: 1.5rem;
}

.page
{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-body
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 50rem;
    width: 100%;
    flex: 1;
}

.page-list-container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-list
{
    padding: 1rem;
    background-color: var(--off-background);
    border-radius: 0.5rem;
}

.page-list-link
{
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    color: var(--text);
}

.page-list-tag
{
    text-decoration: none;
    color: var(--text);
}

.page-footer
{
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    font-size: 14px;
}