/* Headings */
h1, 
h2, 
h3, 
h4, 
h5, 
h6
{
    margin: 1.5rem 0 0 0;
    font-weight: 900;
    line-height: 1.4;
}

h1+h2,
h1+h3,
h1+h4,
h1+h5,
h1+h6,
h2+h3,
h2+h4,
h2+h5,
h2+h6,
h3+h4,
h3+h5,
h3+h6,
h4+h5,
h4+h6,
h5+h6
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Links */
a:link, a:visited
{
    color: var(--link);
}

a:hover, a:active, a.active
{
    color: var(--link-hover);
}

/* Blockquotes */
blockquote
{
    position: relative;
    margin: 0;
    padding-left: 0.5rem;
    border-style: solid;
    border-left-width: 0.2rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    border-bottom-width: 0rem;
    border-color: var(--blockquote);
}

/* Code */
pre,
code, 
kbd,
samp
{
    background: var(--code-background) !important;
    color: var(--text);
    overflow: auto;
}

pre
{
    overflow-x: auto;
    padding: 1.5rem;
    margin: 0 0 1.5rem 0;
}

hr
{
    width: 100%;
    height: 2px;
    border-style: solid;
    border-radius: 1px;
    color: var(--text);
}

/* Highlighting */
::selection,
mark
{
    background-color: var(--highlight);
    color: var(--background);
}

/* Images */
img
{
    max-width: 100%;
}