<div class="page-header-top">
    <text class="page-header-favicon">
        <img src="/favicon/favicon-192px.png">
    </text>
    
    <text class="page-header-title">{{ .Site.Title }}</text>
    
    <div class="page-header-x" id="page-header-x">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
    </div>
</div>

<div class="page-header-container">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <text class="page-header-link">
        <a href="{{ .URL | absLangURL }}" title="{{ .Title }}"> {{ .Name }} </a>
    </text>
    {{ end }}
</div>