.index
{
    margin: 0;
}

.index-body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.index-avatar
{
    width: 15rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

.index-content
{
    position: relative;
    max-width: 27.5rem;
    height: 22.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--off-background);
    border-radius: 0 1rem 1rem 0;
}

.index-content a
{
    text-decoration: none;
    color: var(--text);
}

.index-content svg
{
    width: 2.5rem;
    height: 2.5rem;
}

@media (max-width: 50rem)
{
    .index-body
    {
        gap: 2.5rem;
        flex-direction: column;
    }

    .index-avatar
    {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    }

    .index-content
    {
        width: 90%;
        height: max-content;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        border-radius: 1rem;
    }
}