@import "layout.css";
@import "header.css";
@import "footer.css";
@import "typography.css";
@import "list.css";
@import "contact.css";
@import "versions.css";
@import "colours.css";
@import "lab/xem-ngay-am-lich.css";
@import "lab/hcmus-fit-feeds.css";
@import "lab/qr-code-generator.css";
@import "lab/tic-tac-toe.css";
@import "lab/weather-forecast.css";

*
{
    box-sizing: border-box;
}

*::-webkit-scrollbar
{
	background-color: transparent;
	width: 0.75rem;
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	border: 5px solid transparent;
	background-color: var(--text);
	background-clip: content-box;
}