<div id="about-content-container">
    <div id="about-content-language-switch">
        <a href="" class="about-content-language" id="ENG">English</a> / <a href="" class="about-content-language" id="VIE">Tiếng Việt</a>
    </div>
    <div id="about-content-ENG">
        <blockquote> A little bit of me </blockquote>
        <h2> Quick facts about me </h2>
        <div id="about-content-header" class="about-content">
            <div id="about-content-header-left">
                <p> Hello, I prefer not to tell you my real name, but you can call me <b>Takai</b>. </p>
                <p> I'm currently a freshman at <a href="https://hcmus.edu.vn/" target="_blank"><b>VNUHCM - University of Science</b></a>, studying in the <b>Faculty of Information Technology</b>. </p>
                <p> I love exploring and learning new technologies. </p>
            </div>
        </div>
        <div id="about-content-body">
            <h2> Here are things I know </h2>
            <div id="about-content-skill">
                <p> I'm decent at: </p>
                <img class="about-content-body-img" src="/assets/developer-icons/c-plus-plus.svg" alt="C++">
                <img class="about-content-body-img" src="/assets/developer-icons/python.svg" alt="Python">
                <p>  </p>
                <p> I also have some knowledge of front-end development: </p>
                <img class="about-content-body-img" src="/assets/developer-icons/html5.svg" alt="HTML5">
                <img class="about-content-body-img" src="/assets/developer-icons/css3.svg" alt="CSS3">
                <img class="about-content-body-img" src="/assets/developer-icons/javascript.svg" alt="JavaScript">
                <p>  </p>
            </div>

            <h2> Where I studied </h2>
            <div id="about-content-edu">
                <ol>
                    <div>
                        <li class="about-content-edu-header"> <b> Viet Nam National University Ho Chi Minh City - University of Science </b> </li>
                        <text class="about-content-edu-time"> 2024 - now </text>
                        <br/>
                        <text> <i> Bachelor of Science in Information Technology </i> </text>
                    </div>
                    <hr>
                    <div>
                        <li class="about-content-edu-header"> <b> Nguyen Quang Dieu High School for The Gifted </b> </li>
                        <text class="about-content-edu-time"> 2021 - 2024 </text>
                        <br/>
                        <text> <i> Specialized in Math </i> </text>
                    </div>
                </ol>
            </div>

            <h2> Projects </h2>
            <p> Can be found at <a href="/lab">./lab</a> </p>

            <h2> Where to find me </h2>
            <p> Available at <a href="/contact">./contact</a> </p>
        </div>
    </div>
    <div id="about-content-VIE">
        <blockquote> Một chút về bản thân mình </blockquote>
        <h2> Sơ lược </h2>
        <div id="about-content-header" class="about-content">
            <div id="about-content-header-left">
                <p> Chào bạn, mình không tiện nói tên thật, nhưng bạn có thể gọi mình là <b>Takai</b>. </p>
                <p> Mình hiện đang là sinh viên năm nhất tại <a href="https://hcmus.edu.vn/" target="_blank"><b>Trường Đại học Khoa học Tự Nhiên - ĐHQG Tp.HCM</b></a>, khoa <b>Công Nghệ Thông Tin</b>. </p>
                <p> Mình thích tìm hiểu các công nghệ mới. </p>
            </div>
        </div>
        <div id="about-content-body">
            <h2> Đây là những gì mình biết </h2>
            <div id="about-content-skill">
                <p> Mình có một chút kiến thức về: </p>
                <img class="about-content-body-img" src="/assets/developer-icons/c-plus-plus.svg" alt="C++">
                <img class="about-content-body-img" src="/assets/developer-icons/python.svg" alt="Python">
                <p>  </p>
                <p> Và cũng đang tìm hiểu thêm về front-end: </p>
                <img class="about-content-body-img" src="/assets/developer-icons/html5.svg" alt="HTML5">
                <img class="about-content-body-img" src="/assets/developer-icons/css3.svg" alt="CSS3">
                <img class="about-content-body-img" src="/assets/developer-icons/javascript.svg" alt="JavaScript">
                <p>  </p>
            </div>

            <h2> Trình độ học vấn </h2>
            <div id="about-content-edu">
                <ol>
                    <div>
                        <li class="about-content-edu-header"> <b> Trường Đại học Khoa học Tự Nhiên - ĐHQG Tp.HCM </b> </li>
                        <text class="about-content-edu-time"> 2024 - hiện tại </text>
                        <br/>
                        <text> <i> Bậc Cử Nhân - Khoa Công nghệ Thông tin </i> </text>
                    </div>
                    <hr>
                    <div>
                        <li class="about-content-edu-header"> <b> Trường THPT Chuyên Nguyễn Quang Diêu </b> </li>
                        <text class="about-content-edu-time"> 2021 - 2024 </text>
                        <br/>
                        <text> <i> Chuyên Toán </i> </text>
                    </div>
                </ol>
            </div>

            <h2> Projects </h2>
            <p> Có thể được tìm thấy tại <a href="/lab">./lab</a> </p>

            <h2> Thông tin liên hệ </h2>
            <p> Danh sách chi tiết tại <a href="/contact">./contact</a> </p>
        </div>
    </div>
</div>

<style>
    .about-content
    {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #about-content-header-left
    {
        flex: 6;
    }

    #about-content-header-right
    {
        flex: 4;
    }

    .about-content-body-img
    {
        width: 5vh;
        height: 5vh;
    }

    .about-content-edu-time
    {
        color: var(--muted);
    }

    @media (max-width: 45rem)
    {
        .about-content
        {
            flex-direction: column;
        }
        
        #about-content-header-right
        {
            display: flex;
            justify-content: center;
        }
    }
</style>

<script src="/js/aboutContentLanguage.js"> </script>