<p id="indexZ-welcome-text" style="color:var(--highlight);"> </p>

<h1> Latest commit: </h1>

<div id="indexZ-commit"> </div>

</br>

<p> <i> <b> Best Viewed on Desktop! </b> </i> </p>

<div class="indexZ-button">
    <img src="/assets/miku-approved.gif">
    <img id="indexZ-button-secret" src="/assets/senko.webp">
    <img id="indexZ-button-ncs" src="/assets/ncs.webp">
</div>

<style>
    .indexZ-welcome-img
    {
        max-width: 90%;
    }

    .indexZ-button
    {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        gap: 10px;
    }

    .indexZ-button img
    {
        width: 88px;
        height: 31px;
        cursor: pointer;
    }
</style>

<script src="/js/indexZ.js"></script>