<h2> Nhập số báo danh: </h2>

</br>

<div id="tcdt-container">
    <textarea id="tcdt-sbd" placeholder="Nhập số báo danh tại đây" autofocus></textarea>
    <button id="tcdt-submit"> Tra cứu </button>
</div>

</br>

<div id="tcdt-error-display"></div>

<h2> Thông tin số báo danh đã tra cứu: </h2>

<div id="tcdt-result"></div>

<style>
    #tcdt-container
    {
        display: flex;
        gap: 10px;
    }

    #tcdt-result
    {
        display: flex;
        gap: 20px;
    }

    #tcdt-sbd
    {
        width: 200px;
        padding: 7.5px 0px 0px 7.5px;
        background-color: transparent;
        border-radius: 5px;
        color: var(--text);
    }

    #tcdt-sbd::placeholder
    {
        color: var(--text);
    }

    #tcdt-submit
    {
        max-width: max-content;
        padding: 0px 10px 0px 10px;
        display: inline-block;
        background-color: var(--muted);
        border: none;
        border-radius: 7.5px;
        color: var(--text);
    }

    #tcdt-submit:hover
    {
        cursor: pointer;
    }

    #tcdt-result
    {
        display: flex;
        flex-direction: column;
    }

    text
    {
        display: inline-block;
    }
</style>
    
<script src="/js/tra-cuu-diem-thi.js"> </script>