<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
        <link rel="stylesheet" href="/css/404.css">
    </head>

    <body>
        <div class="page">
            <div class="page-header">
                {{- partial "header.html" . -}}
            </div>

            <div class="page-body">
                <div class="page-404-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="80" height="80" style="color: var(--text); margin-bottom: -1rem;">
                        <rect width="256" height="256" fill="none"/>
                        <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <polygon points="105.7 105.7 168 88 150.3 150.3 88 168 105.7 105.7" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                    </svg>
                    <p class="page-404-title"> 404 </p>
                    <p class="page-404-desc"> You seem to have lost your way. </p>
                    <a href="/" class="page-404-btn"> Return to Homepage </a>
                </div>
            </div>

            <div class="page-footer">
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </body>
</html>