<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
        <link rel="stylesheet" href="{{ "css/index.css" | absURL }}">
    </head>

    <body>
        <div class="index">
            <div class="page-header">
                {{- partial "header.html" . -}}
            </div>

            <div class="index-body">
                <div class="index-card">
                    <img src="/assets/profile-banner.webp" draggable="false">
                </div>
                <div class="index-content">
                    {{ with .Site.Params.About }}
                    <h1> Hello, I'm Ducc </h1>
                    <p> I'm currently a Computer Science student.</p>
                    <p> You can find me on: </p>
                    <ul>
                        <li> <a href="https://github.com/{{ .Author }}">GitHub</a> </li>
                        <li> <i> More will be added later... </i> </li>
                    </ul>
                    {{ end }}
                </div>
            </div>
            <div class="page-footer">
                {{- partial "footer.html" . -}}
            </div>
        </div>

        <script src="/js/index.js"> </script>
    </body>
</html>