<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
        <link rel="stylesheet" href="{{ "css/index.css" | absURL }}">
    </head>

    <body>
        <div class="index">
            <div class="page-header">
                {{- partial "header.html" . -}}
            </div>

            <div class="index-body">
                <div class="index-card">
                    <img src="/assets/profile-banner.webp" draggable="false">
                </div>
                <div class="index-content">
                    {{ with .Site.Params.About }}
                    <h1> Hello, I'm Cao </h1>
                    <p class="index-p"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="20" height="20">
                            <rect width="256" height="256" fill="none"/>
                            <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <path d="M64,198.8A40,40,0,0,1,88,128h8a32,32,0,0,0,32-32V80a16,16,0,0,1,16-16h22.6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <path d="M110.2,226.3A40,40,0,0,0,144,192V176a16,16,0,0,1,16-16h21.4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        </svg>
                        Vietnam
                    </p>
                    <p class="index-p"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="20" height="20">
                            <rect width="256" height="256" fill="none"/>
                            <circle cx="128" cy="136" r="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <path d="M69.8,200a72,72,0,0,1,116.4,0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <polygon points="128 24 32 56 128 88 224 56 128 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <polyline points="32 56 32 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        </svg>
                        2nd-year CS Student at fit@hcmus
                    </p>
                    <p class="index-p"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="20" height="20">
                            <rect width="256" height="256" fill="none"/>
                            <path d="M216,64L192,40a16.1,16.1,0,0,0-22.6,0L40,169.4V216h46.6L216,86.6A16.1,16.1,0,0,0,216,64Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <line x1="160" y1="72" x2="184" y2="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        </svg>
                        Starting my journey into LLMs
                    </p>
                    <p class="index-p"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="20" height="20">
                            <rect width="256" height="256" fill="none"/>
                            <path d="M128,216S28,160,28,92A52,52,0,0,1,128,72a52,52,0,0,1,100,20C228,160,128,216,128,216Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        </svg>
                        Web Development & Open Source
                    </p>
                    {{ end }}
                    <hr>
                    <p class="index-p">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="20" height="20">
                            <rect width="256" height="256" fill="none"/>
                            <line x1="108" y1="148" x2="160" y2="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                            <path d="M223.69,42.18a8,8,0,0,0-9.87-9.87l-192,58.22a8,8,0,0,0-1.25,14.93L108,148l42.54,87.42a8,8,0,0,0,14.93-1.25Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        </svg>
                        Contact: <i>to be updated...</i>
                    </p>
                </div>
            </div>
            <div class="page-footer">
                {{- partial "footer.html" . -}}
            </div>
        </div>

        <script src="/js/index.js"> </script>
    </body>
</html>