<!DOCTYPE html>

<html lang="{{- site.Language.Lang -}}">
    <noscript>
        ⚠️ You have disabled <b> JavaScript </b> on this site! Some functions like: <i>theme changer</i>, <i>background loader</i>, etc... relies on it will not working.
    </noscript>

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <main>
            <div class="page">
                <div class="page-header">
                    {{- partial "header.html" . -}}
                </div>

                <div class="page-body">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>

            <div id="page-hidden">
                <img id="page-hidden-img" src="/favicon/favicon-192px.png">
            </div>
        </main>

        <script src="/js/index.js"> </script>
    </body>
</html>